DSSOS/SOAPServicesTest/Service References/TourWS/TourService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1010/TourService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" />
  <xs:element name="ObtenerTipoPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ObtenerTipoPaqueteResult" nillable="true" type="q1:TipoPaquete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearAgente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="razonSocial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correoAgente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nroCuentaBancaria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearAgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="CrearAgenteResult" nillable="true" type="q2:Agente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAgente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ObtenerAgenteResult" nillable="true" type="q3:Agente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarAgente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="razonSocial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correoAgente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nroCuentaInterBancaria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarAgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ModificarAgenteResult" nillable="true" type="q4:Agente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAgente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAgenteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAgentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAgentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ListarAgentesResult" nillable="true" type="q5:ArrayOfAgente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoPaquete" type="xs:int" />
        <xs:element minOccurs="0" name="nombrePaquete" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="horaInicio" type="xs:int" />
        <xs:element minOccurs="0" name="horaFin" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lugares" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="informacionAdicional" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="precio" type="xs:decimal" />
        <xs:element minOccurs="0" name="cupos" type="xs:int" />
        <xs:element minOccurs="0" name="registrados" type="xs:int" />
        <xs:element minOccurs="0" name="agente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="CrearPaqueteResult" nillable="true" type="q6:Paquete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ObtenerPaqueteResult" nillable="true" type="q7:Paquete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="tipoPaquete" type="xs:int" />
        <xs:element minOccurs="0" name="nombrePaquete" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="horaInicio" type="xs:int" />
        <xs:element minOccurs="0" name="horaFin" type="xs:int" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lugares" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="informacionAdicional" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="precio" type="xs:decimal" />
        <xs:element minOccurs="0" name="cupos" type="xs:int" />
        <xs:element minOccurs="0" name="registrados" type="xs:int" />
        <xs:element minOccurs="0" name="agente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ModificarPaqueteResult" nillable="true" type="q8:Paquete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPaqueteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPaquetes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPaquetesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SOAPServices.Dominio" minOccurs="0" name="ListarPaquetesResult" nillable="true" type="q9:ArrayOfPaquete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>